<%- include('../includes/header.ejs') %> 
<!-- header -->
	</head>
	<body>
		<div class="ui grid">
			<%- include('../includes/sidebar.ejs') %> 

				<div class="thirteen wide column">
					<h1>Delete Item</h1>
					<form method="POST" action="/delete-item">
						<p>Are you sure to delete <strong><%= item.name %> </strong>?</p>
						<input type="hidden" value="<%= item._id %>" name="itemId" />
						<button class="ui negative button">
							Yes, I am sure. Please delete <%= item.name %> now!
						</button>
					</form>
				</div>
			</div>
<!-- footer -->
<%- include('../includes/footer.ejs') %> 
			
