<%- include('../includes/header.ejs') %> 
<!-- header -->
	</head>
	<body>
		<div class="ui grid">
			<!-- sidebar -->
			<%- include('../includes/sidebar.ejs') %> 
				<div class="thirteen wide column">
					<h1>Title: <%= item.title %></h1>
					<p><strong>Copies: </strong> <%= item.quantity %></p>
					<p><strong>Author: </strong> <%= item.author %></p>
					<p><strong>Category: </strong><%= item.category %></p>
					<p><strong>ISBN: </strong><%= item.ISBN %></p>
					<p><strong>Branch: </strong><%= item.branch %></p>
					<hr />
					<p><a href="/edit-item/<%= item._id %>">Update Item</a></p>
					<p><a href="/delete-item/<%= item._id %> ">Delete Item</a></p>
				</div>
			</div>
<!-- footer -->
<%- include('../includes/footer.ejs') %> 
			
