<%- include('./includes/header.ejs') %> 
<!-- header -->
	</head>
	<body>
		<div class="ui grid">
			<!-- sidebar -->
			<%- include('./includes/sidebar.ejs') %> 
				<div class="thirteen wide column">
					<h1>Name: <%= item.name %></h1>
					<p><strong>In Stock: </strong> <%= item.quantity %></p>
					<p><strong>Expiry Date: </strong> <%= item.exp_date %></p>
					<p><strong>Category: </strong><%= item.category %></p>
					<p><strong>Owner: </strong><%= item.owner %></p>
					<hr />
					<p><a href="/edit-item/<%= item._id %>">Update Item</a></p>
					<p><a href="/delete-item/<%= item._id %> ">Delete Item</a></p>
				</div>
			</div>
<!-- footer -->
<%- include('./includes/footer.ejs') %> 
			
