<%- include('../includes/header.ejs') %> 
<!-- header -->
	</head>
	<body>
		<div class="ui grid">
			<!-- sidebar -->
			<%- include('../includes/sidebar.ejs') %> 

                <div class="thirteen wide column">
                    <% if (itemList.length > 0) { %>
                        <h1>All Branches</h1>
                    <% for (let item of itemList) { %>
                        <ul>
                            <li>
                                <!-- branches/branchName -->
                                <a href="/branches/<%= item %>"><%= item %></a> 
                            </li>
                        </ul>
                    <% } %> <% } else { %>
                        <h1>No Branches Found!</h1>
                    <% } %>
                </div>
            </div>
<!-- footer -->
<%- include('../includes/footer.ejs') %> 